# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

    - Most popular languages.
    - Most popular libraries used in Data Science.
    - Correct use of markdowns.

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

|Data Science Tools|
|---------------------|
|Jupyter Notebooks|
|Rstudio|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers
$ (3*4)+5 $

In [10]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

## Author
Diego B.